:host {
    display: block;
}

/* Comment List */
.comment {
    margin-bottom: 25px;
}

.comment-user {
    color: rgba(0,0,0,.87);
}

/* Comment Box */
.comment-box-headline {
    color: chocolate;
}

.comment-input {
    width: 100%;
}

.comment-input-textarea {
    min-height: 100px;
}

.comment-submit {
    margin-left: 10px;
    margin-bottom: 23px;
}