<div id="background">
    <mat-card id="content">
        <mat-card-title>Some Controversial Article</mat-card-title>
        <mat-card-subtitle>This is investigative journalism at its finest</mat-card-subtitle>
        <mat-card-content *ngFor="let i of [0,1,2,3,4]">
          <p class="article-text">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
              sed diam nonumy eirmod tempor invidunt ut labore et dolore
              magna aliquyam erat, sed diam voluptua. At vero eos et accusam
              et justo duo dolores et ea rebum. Stet clita kasd gubergren,
              no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </mat-card-content>
    </mat-card>
</div>
