#background {
    padding: 30px;
    padding-bottom: 50px;
}

#content {
    max-width: 800px;
    margin: 0 auto;
}

mat-card-title {
    font-size: 2em;
    font-weight: 500;
}

mat-card-subtitle {
    font-size: 1em;
    margin-bottom: 25px;
}

.article-text {
    font-size: 18px;
    line-height: 22px;
    filter: blur(7px);
}

ki-forum {
    margin-top: 30px;
}